*{
	margin: 0;
	padding: 0;
}

body{
	color: #c9daf5;
	font: 15px Calibri,Arial,sans-serif;
	border-top: 5px sold #212121;
}

.kotak{
	border: 1.5px solid #f4f4f4;
	margin: 120px auto 0;
	overflow: hidden;
	padding: 3% 3%  1% 3%;
	width: 440px;
	-moz-box-shadow: 0 0 18px #c4c4c4;
	-webkit-box-shadow:  0 0 18px #c4c4c4;
	box-shadow: 0 0 18px #c4c4c4;
	border-radius: 2%;
}
.kotak textarea{
	position: relative;
	border-radius: 6px;
}

.kotak .form-title-row{
	margin-bottom: 50px;
}

.kotak .form-title{
	box-sizing: border-box;
	color: #4c565e;
	font-size: 24px;
	padding: 15px 20px;
	border-bottom: 2px solid #6caee0;
}

.kotak .form-row img{
		width: 50px;
		position: absolute;
		color: white;
	}

.kotak .openbook{
	color: #ffffff;
	display: block;
	width: 145px;
	height: 40px;
	font-size: 12px;
	line-height: 40px;
	background-color: rgba(75, 136, 194, 0.9);
	box-shadow: 1px 2px 2px 0 rgba(0, 0, 0, 0.08);
	border-radius: 5px;
	margin: 8px auto;
	text-decoration: none;
	box-shadow: 0 0 10px black;
}


.kotak .write{
	font-stretch: ultra-condensed;
	height: 30px;
	width: 90px;
	border: none;
	background-color: rgba(56, 12, 200, 0.9);
	color: #fff;
	border-radius: 3px;
	box-shadow: 0 0 4px black;
}
.kotak .reset{
	border: none;
	height: 30px;
	width: 90px;
	border-radius: 3px;
	box-shadow: 0 0 4px black;
	text-decoration: none;
}

.kotak .info{
	color: black;
	font-style: oblique;
	font-size: 12px;
	line-height: 40px;
	border-radius: 4px;
	margin: 8px auto;
	text-decoration: none;
	color: white;
	font-style: oblique;
	background-color: grey;
	opacity: 90%;
	box-shadow: 0 0 4px black;
}




@media screen and (min-width: 901px){
	body{
		background-image: url(bgifpc.jpg);
	}
	.kotak{
		background-color: transparent;
	}
	.kotak textarea{
		opacity: 60%;
		background-color: #fff;
	}
	.kotak .form-title{
	color: yellow;
	}
	.kotak .info{
		color: white;
		font-style: oblique;
		background-color: black;
		opacity: 90%;
		box-shadow: 0 0 4px white;
	}
}


@media screen and (max-width: 900px) {
	body{
		background-color: #c9daf5;
	}

	.kotak{
		margin: 20px auto;
		position: relative;
		-moz-box-shadow: 0 0 13px black;
		-webkit-box-shadow:  0 0 13px black;
		box-shadow: 0 0 13px black;
	}
	.kotak textarea{
		position: relative;
		display: block;
		margin: 0 0 50px;
		margin-bottom: -20px;
	}

	@media screen and (max-width: 600px){
		body{
		background-color: #c9daf5;
	}
	.kotak{
		width: 300px;
		padding-left: 35px;
		padding-right: 35px;
		position: relative;
		-moz-box-shadow: 0 0 13px black;
		-webkit-box-shadow:  0 0 13px black;
		box-shadow: 0 0 13px black;
	}
	.kotak textarea{
		display: block;
		text-align: left;
		padding: 0 0 10px;
	}
	.kotak .write, .reset{
		display: block;
		margin: 0 auto;
	}
	.kotak .openbook{
		border-top: -10px;
	}
	.kotak:after{
		bottom: -80px;
		left: 50%;
		margin-left: -25px;
	}

@media screen and (max-width:  411px){
	body{
		background-color: #c9daf5;
	}
	.kotak{
		border: black;
		width: 200px;
		-moz-box-shadow: 0 0 10px black;
		-webkit-box-shadow:  0 0 10px black;
		box-shadow: 0 0 10px black;
	}
	.kotak textarea{
		width: 195px;
		background: transparent;
	}
	.kotak .openbook{
		opacity: 90%;
	}
	.kotak .info{
		height: 50px;
		margin-left: 55px;
		color: white;
		font-style: oblique;
		background-color: grey;
		opacity: 90%;
		box-shadow: 0 0 4px black;
	}
	.kotak .form-title{
		font-size: 18px;
		padding: 9px 13px;
		color: black;
		text-shadow: 0 0 5px yellow;
	}
	.kotak .form-row img{
		width: 30px;
		position: absolute;
	}
	.kotak textarea{
		box-shadow: 0 0 3px green;
		position: relative;
		border-radius: 5px;
	}
	.kotak .reset{
		opacity: 75%;
	}
	
}